/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    color: inherit;
    box-sizing: inherit;
}

a {
    cursor: pointer;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    color: #e7e7e7;
}

h3 {
    color: #c1c1c1;
    font-size: 2.3rem;
}

img {
    width: 100%;
}


/*========COMMONE========*/

body {
    min-width: 320px;
}


/*======HEADER=======*/

.welcome {
    box-sizing: border-box;
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 10%;
    padding-bottom: 26%;
}

.welcome::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 6.25%;
    padding-right: 6.25%;
    flex-direction: column;
    color: #ffffff;
    z-index: 2;
}

.wrapper {
    align-self: center;
}

.logo-big {
    width: 133px;
    height: 36px;
}

.slogan {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    line-height: 1.1em;
    letter-spacing: 1.4px;
    margin-top: 137px;
}

.slogan-item {
    display: block;
}

.slogan-item:nth-child(2) {
    width: 220px;
    margin-top: 30px;
    margin-right: 22px;
    align-self: flex-end;
}

.stores {
    margin-top: 90px;
    align-self: center;
    width: 100%;
}

.link {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #5e42b0;
    border-radius: 17px;
    padding-left: calc(50% - 55px);
    font-size: 0.8rem;
    align-items: center;
    text-transform: uppercase;
}

.link:hover {
    background-color: #c1c1c1;
    color: #51349e;
    transition: 0.3s;
}

.link:nth-child(2) {
    margin-top: 14px;
}

.link svg {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}

.text-store {
    display: block;
    font-weight: 700;
}


/*======MAIN======*/

.athlets,
.players {
    padding-top: 20px;
    position: relative;
}

.title-type {
    font-size: 5rem;
    line-height: 1em;
    padding-left: 6.25%;
    padding-right: 6.25%;
}

.menu {
    margin-top: 245px;
}

.athlets::before {
    content: "";
    background-image: url("../img/footballer_192.png");
    position: absolute;
    background-size: 192px 281px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 80px;
}

.items-menu {
    padding: 60px 6.25% 55px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.75px;
}

.items-menu:first-child {
    padding-top: 83px;
    background-color: #fafafa;
}

.items-menu:nth-child(2) {
    background-color: #f5f4f9;
}

.items-menu:nth-child(3) {
    background-color: #8765dd;
}

.title-items {
    display: flex;
}

.number {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    margin-right: 10px;
    margin-top: -2px;
}

.number:nth-child(3) {
    color: #ffffff;
}

.number::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.items-menu:nth-child(3) .number::after {
    background-color: #ffffff;
}

.players::before {
    content: "";
    background-image: url("../img/basketballer_302.png");
    position: absolute;
    background-size: 302px 248px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 80px;
}

.players .items-menu:nth-child(3) {
    background-color: #090c35;
}

.players .items-menu:nth-child(3) {
    color: #ffffff;
}

.players .items-menu:nth-child(3) .number {
    color: #8765dd;
}

.text {
    margin-top: 27px;
}

.active-items {
    padding: 0 6.25% 70px;
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.8px;
    margin-top: -60px;
    position: relative;
}

.title {
    font-size: 2.8rem;
    margin-top: 24px;
}

.square {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    align-items: center;
    justify-content: center;
}

.active .number {
    color: #ffffff;
    margin: 0;
}

.active .number::after {
    background-color: #8e7bc8;
}


/*======FOOTER------*/

.footer {
    box-sizing: border-box;
    background-image: url("../img/game_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 31%;
    padding-bottom: 3.5%;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-footer {
    display: flex;
    width: 72px;
    height: 74px;
    background: linear-gradient(#754ed7, #51349e);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
}

.logo-small {
    width: 47px;
    height: 55px;
}

.download {
    text-align: center;
    color: #ffffff;
    font-size: 3.2rem;
    letter-spacing: 1px;
    margin-top: 60px;
}

.show {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    color: #9b8ec1;
}

.down {
    margin-top: 82px;
    align-self: center;
}


/*=====WIDTH 641px-960px===*/


/*----header---*/

@media (min-width: 641px) and (max-width: 960px) {
    .welcome {
        padding-top: 5.5%;
        padding-bottom: 11.7%;
    }
    .container {
        padding-left: 7.8%;
        padding-right: 7.8%;
    }
    .logo-big {
        width: 205px;
        height: 56px;
    }
    .slogan {
        display: flex;
        flex-direction: column;
        font-size: 6.4rem;
        margin-top: 180px;
    }
    .slogan-item:nth-child(2) {
        margin-right: 10px;
        align-self: flex-end;
        width: 488px;
        margin-top: 0;
    }
    .stores {
        display: flex;
        justify-content: space-between;
        margin-top: 312px;
        align-items: baseline;
    }
    .link {
        width: 48%;
        height: 77px;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: 40px;
        padding-left: 0;
    }
    .link svg {
        width: 40px;
        height: 45px;
        margin-right: 28px;
    }
    /* -----main-----*/
}