/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    color: #e7e7e7;
}

h3 {
    color: #c1c1c1;
    font-size: 2.3rem;
}

img {
    width: 100%;
}


/*========COMMONE========*/

body {
    font-family: 'Open Sans', Arial, sans-serif;
}


/*======HEADER=======*/

.welcome {
    box-sizing: border-box;
    background-image: url("../img/football_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 10%;
    padding-bottom: 26%;
}

.welcome::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container {
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 6.25%;
    padding-right: 6.25%;
    flex-direction: column;
    color: #ffffff;
    z-index: 2;
}

.logo {
    align-self: center;
}

.logo-big {
    width: 133px;
    height: 36px;
}

.slogan {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    line-height: 1.1em;
    letter-spacing: 1.4px;
    margin-top: 137px;
}

.slogan-item {
    display: block;
    margin-top: 30px;
    align-self: flex-end;
    min-width: 215px;
    margin-left: 16%;
}

.stores {
    margin-top: 90px;
    align-self: center;
    width: 100%;
}

.link {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #5e42b0;
    border-radius: 17px;
    padding-left: calc(50% - 55px);
    font-size: 0.8rem;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.link:hover {
    background-color: #c1c1c1;
    color: #51349e;
    transition: 0.3s;
}

.link:nth-child(2) {
    margin-top: 14px;
}

.link svg {
    width: 20px;
    height: 24px;
    margin-right: 10px;
}

.text-store {
    display: block;
    font-weight: 700;
}


/*======MAIN======*/

.athlets,
.players {
    padding-top: 20px;
    position: relative;
}

.title-type {
    font-size: 5rem;
    line-height: 1em;
    padding-left: 6.25%;
    padding-right: 6.25%;
}

.menu {
    margin-top: 245px;
}

.athlets::before {
    content: "";
    background-image: url("../img/footballer_192.png");
    position: absolute;
    background-size: 192px 281px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 80px;
}

.items-menu {
    padding: 60px 6.25% 55px;
}

.items-menu:first-child {
    padding-top: 83px;
    background-color: #fafafa;
}

.items-menu:nth-child(2) {
    background-color: #f5f4f9;
}

.items-menu:nth-child(3) {
    background-color: #8765dd;
}

.items-menu:nth-child(3) .text {
    color: #ffffff;
}

.title-items {
    display: flex;
}

.number {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
    margin-right: 10px;
    margin-top: 3px;
}

.number:nth-child(3) {
    color: #ffffff;
}

.number::after {
    content: "";
    display: block;
    width: 16px;
    height: 4px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.items-menu:nth-child(3) .number::after {
    background-color: #ffffff;
}

.players::before {
    content: "";
    background-image: url("../img/basketballer_302.png");
    position: absolute;
    background-size: 302px 248px;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 80px;
}

.players .items-menu:nth-child(3) {
    background-color: #090c35;
}

.players .items-menu:nth-child(3) {
    color: #ffffff;
}

.players .items-menu:nth-child(3) .number {
    color: #8765dd;
}

.text {
    margin-top: 27px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.75px;
}

.active-items {
    padding: 0 4% 100px;
    margin-top: -60px;
    position: relative;
}

.active .title {
    font-size: 2.8rem;
    margin-top: 24px;
}

.square {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    align-items: center;
    justify-content: center;
}

.active .number {
    color: #ffffff;
    margin: 0;
}

.active .number::after {
    background-color: #8e7bc8;
}


/*======FOOTER------*/

.footer {
    box-sizing: border-box;
    background-image: url("../img/game_767.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-top: 31%;
    padding-bottom: 3.5%;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo-footer {
    display: flex;
    width: 72px;
    height: 74px;
    background: linear-gradient(#754ed7, #51349e);
    border-radius: 20%;
    justify-content: center;
    align-items: center;
}

.logo-small {
    width: 47px;
    height: 55px;
}

.download {
    text-align: center;
    color: #ffffff;
    font-size: 3.2rem;
    letter-spacing: 1px;
}

.slogan-down {
    margin-top: 60px;
}

.show {
    text-align: center;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    color: #9b8ec1;
}

.down {
    margin-top: 82px;
    align-self: center;
}


/*=====WIDTH 641px-960px===*/


/*----header---*/

@media (min-width: 641px) and (max-width: 960px) {
    .welcome {
        padding-top: 5.5%;
        padding-bottom: 11.7%;
    }
    .container {
        padding-left: 7.8%;
        padding-right: 7.8%;
    }
    .logo-big {
        width: 205px;
        height: 56px;
    }
    .slogan {
        display: flex;
        flex-direction: column;
        font-size: 6.4rem;
        margin-top: 180px;
    }
    .slogan-item {
        min-width: 488px;
        margin-top: 0;
        margin-left: 15.6%;
    }
    .stores {
        display: flex;
        justify-content: space-between;
        margin-top: 312px;
    }
    .link {
        width: 48%;
        height: 77px;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: 40px;
        padding-left: 0;
    }
    .link svg {
        width: 40px;
        height: 45px;
        margin-right: 28px;
    }
    .link:nth-child(2) {
        margin-top: 0;
    }
    /* -----main-----*/
    .athlets,
    .players {
        padding-top: 85px;
    }
    .title-type {
        font-size: 8rem;
        line-height: 0.9em;
    }
    .athlets .title-type {
        padding-left: 38%;
    }
    .menu {
        margin-top: 60px;
    }
    .athlets::before {
        content: "";
        background-image: url("../img/footballer_497.png");
        background-size: 497px 699px;
        top: 95px;
        right: 38%;
    }
    .athlets .items-menu {
        padding: 42px 4% 36px 38%;
    }
    .title-items {
        font-size: 3.2rem;
    }
    .number {
        font-size: 1.8rem;
        margin-right: 14px;
        margin-top: 5px;
    }
    .number::after {
        content: "";
        width: 19px;
        height: 5px;
    }
    .players .title-type {
        padding-left: 4.4%;
        padding-right: 38%;
    }
    .players::before {
        content: "";
        background-image: url("../img/basketballer_436.png");
        background-size: 436px 565px;
        top: 40px;
        right: 0;
        width: 436px;
    }
    .players .items-menu {
        padding: 42px 40% 36px 4%;
    }
    .items-menu:first-child {
        padding-top: 0px;
        background-color: #ffffff;
    }
    .text {
        margin-top: 32px;
        font-size: 1.6rem;
        line-height: 1.75em;
        letter-spacing: 0.8px;
    }
    .active-items {
        padding: 0 9.3% 105px 4%;
        margin-top: -90px;
        position: relative;
    }
    .active .title {
        font-size: 8rem;
        margin-top: 54px;
        line-height: 0.8em;
    }
    .square {
        width: 116px;
        height: 116px;
    }
    .active .number {
        font-size: 2.4rem;
        line-height: 1.4em;
        letter-spacing: 1.2px;
    }
    .active .number::after {
        content: "";
        width: 28px;
        height: 5px;
    }
    .active .text {
        font-size: 2.4rem;
        line-height: 1.1em;
        letter-spacing: 1.2px;
        margin-top: 37px;
    }
    /*-----footer-----*/
    .footer {
        padding-top: 16.4%;
    }
    .footer .container {
        padding-left: 4%;
        padding-right: 4%;
    }
    .logo-footer {
        width: 130px;
        height: 137px;
        border-radius: 20%;
    }
    .logo-small {
        width: 103px;
        height: 90px;
    }
    .slogan-down {
        margin-top: 80px;
    }
    .download {
        font-size: 8rem;
        line-height: 1em;
    }
    .show {
        font-size: 3.6rem;
        line-height: 1em;
    }
    .footer-store {
        margin-top: 285px;
    }
    .down {
        margin-top: 55px;
    }
}

@media (min-width: 961px) {
    /*-----header---min-width-961px----*/
    .welcome {
        background-image: url("../img/football_1920.jpg");
        padding-top: 2.5%;
        padding-bottom: 5.7%;
    }
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    .logo-big {
        width: 191px;
        height: 52px;
    }
    .slogan {
        width: 100%;
        align-items: flex-start;
        font-size: 9rem;
        line-height: 1.1em;
        margin: 295px auto 0;
    }
    .slogan-item {
        margin-top: 0;
    }
    .stores {
        margin-top: 222px;
        display: flex;
        justify-content: center;
    }
    .link {
        width: 311px;
        height: 77px;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: 40px;
        padding-left: 0;
    }
    .link svg {
        width: 40px;
        height: 45px;
        margin-right: 28px;
    }
    .link:nth-child(2) {
        margin-top: 0;
        margin-left: 50px;
    }
    /* -----main---min-width-961px----*/
    .athlets,
    .players {
        padding-top: 115px;
    }
    .title-type {
        font-size: 8rem;
        line-height: 0.9em;
    }
    .athlets .title-type {
        padding-left: 50%;
    }
    .menu {
        margin-top: 108px;
    }
    .athlets::before {
        content: "";
        background-image: url("../img/footballer_566.png");
        background-size: 30vw;
        right: 20%;
        height: 908px;
        top: 50px;
    }
    .athlets .items-menu {
        padding: 55px 10.4% 54px 50%;
    }
    .title-items {
        font-size: 3.6rem;
    }
    .players .title-type {
        padding-left: 10.15%;
    }
    .players::before {
        content: "";
        background-image: url("../img/basketballer_991.png");
        background-size: 51.6vw;
        background-position: right center;
        top: 0;
        right: 6.5%;
        width: 991px;
        height: 815px;
    }
    .players .items-menu {
        padding: 55px 51.5% 55px 10.15%;
    }
    .items-menu:first-child {
        padding-top: 0px;
        background-color: #ffffff;
    }
    .text {
        margin-top: 20px;
        font-size: 2rem;
        line-height: 1.2em;
        letter-spacing: 1px;
    }
    .number {
        font-size: 1.8rem;
        margin-right: 12px;
        margin-top: 9px;
    }
    .number::after {
        content: "";
        width: 21px;
        height: 5px;
    }
    .active {
        display: flex;
        flex-wrap: wrap;
    }
    .photo,
    .active-items {
        width: 50%;
    }
    .poto-img {
        min-height: 730px;
        height: 100%;
        object-fit: cover;
    }
    .active-items {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        padding-left: 128px;
        padding-right: 6%;
    }
    .active .title {
        margin-top: 45px;
        font-size: 8rem;
        line-height: 1em;
    }
    .square {
        width: 168px;
        height: 155px;
        position: absolute;
        right: calc(100% - 84px);
    }
    .active .number {
        font-size: 2.4rem;
        line-height: 1.4em;
        letter-spacing: 1.2px;
    }
    .active .number::after {
        content: "";
        width: 28px;
        height: 5px;
    }
    .active .text {
        font-size: 2.4rem;
        line-height: 1.16em;
        letter-spacing: 1.2px;
        margin-top: 115px;
    }
    .active:nth-child(2) {
        flex-direction: row-reverse;
    }
    .active:nth-child(2) .active-items {
        position: relative;
        padding-left: 5%;
        padding-right: 130px;
    }
    .active:nth-child(2) .title {
        order: -1;
        margin-left: 0;
    }
    .active:nth-child(2) .square {
        position: absolute;
        left: calc(100% - 84px);
    }
    .active:nth-child(2) .text {
        padding-left: 0;
        margin-top: 75px;
    }
    /*-----footer---min-width-961px----*/
    .footer {
        padding-top: 11.9%;
        background-image: url("../img/game_1920.jpg");
    }
    .footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .logo-footer {
        width: 130px;
        height: 137px;
        border-radius: 20%;
    }
    .logo-small {
        width: 103px;
        height: 90px;
    }
    .slogan-down {
        margin-left: 37px;
        margin-top: 0;
    }
    .download {
        font-size: 8rem;
        line-height: 1em;
        margin-top: 0;
    }
    .show {
        font-size: 3.6rem;
        line-height: 1em;
        margin-top: 20px;
    }
    .footer-store {
        margin-top: 163px;
    }
    .down {
        margin-top: 262px;
    }
}